<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="/about" routerLinkActive="active-state" >About Us</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" routerLink="/post" routerLinkActive="active-state">Post<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/products" routerLinkActive="active-state">Products</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/ngrx" routerLinkActive="active-state">Ngrx</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/pipe" routerLinkActive="active-state">Pipe</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/pagination" routerLinkActive="active-state">Pagination</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/tooltip" routerLinkActive="active-state">Tooltip</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/modal" routerLinkActive="active-state">Modal</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/directive" routerLinkActive="active-state">Directive</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/eventemitter" routerLinkActive="active-state">EventEmitter</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/toast" routerLinkActive="active-state">Toast</a>
      </li>
    </ul>
  </div>
</nav>